  <div class="col-md-15 drag-div">
  	<div class="form-group">
  		<div id="products">
  			<h1 class="page-header">Produkt ändern</h1>
  			<%= render 'form' %>
  		</div>
  	</div>
  	<%= link_to 'Zurück', products_path, :class => 'btn btn-info btn-xs' %>
  </div>